@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  color: inherit;
  list-style: none;
  text-decoration: none;
  max-width: 100%;
  box-sizing: border-box; }

/*TIPOGRAFIA DEL SITIO*/
body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

.parrafo {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  color: darkslategrey;
  line-height: 35px; }

.roboto {
  font-family: 'Roboto Slab', serif; }

/*LINKS*/
a:link {
  text-decoration: none;
  color: #8b8a89; }

a:visited {
  color: #525252; }

/*ESTILOS PARA EL HEADER*/
header {
  background-color: black;
  color: #8b8a89;
  overflow: hidden; }

.logo {
  float: left;
  background-color: black;
  padding: 20px; }
  .logo__img {
    width: 100px; }

nav {
  width: 60vw;
  display: inline-flex;
  padding: 3.5rem 1rem 3.5rem 1rem;
  font-size: 25px;
  font-style: normal;
  font-weight: bold; }

nav ul li {
  padding: 0px 2vw 0px 0px;
  display: inline-block;
  position: relative; }

ul {
  padding: 0; }
  ul ul {
    position: absolute;
    display: none; }
    ul ul ul li {
      display: block;
      width: 100%;
      padding: 0px; }
  ul li a:hover {
    color: #c7c7c7; }
  ul li:hover ul {
    z-index: 2;
    display: block;
    width: 100%;
    background-color: black;
    padding: 0px; }

.buscador {
  float: right;
  padding: 3.5rem 2rem 3.5rem 0px; }
  .buscador__ingresetexto {
    background-color: white;
    color: black;
    padding: 0.2rem; }
  .buscador__enviar {
    background-color: #d5d5d5;
    color: black;
    padding: 0.2rem; }

/*ESTILOS PARA FOOTER*/
footer {
  background-color: black;
  color: #8b8a89;
  overflow: hidden; }

.dataPages {
  max-width: 40%;
  display: flex;
  padding: 1rem 0 0 0;
  float: left; }

.newslettersm {
  display: flex;
  flex-direction: column;
  float: right;
  padding: 1rem 1rem 0 0; }
  .newslettersm__email {
    background-color: white;
    padding: 0.2rem;
    margin-top: 0.5rem; }
  .newslettersm__suscribir {
    background-color: #d5d5d5;
    color: black;
    padding: 0.2rem;
    margin-top: 0.5rem; }
  .newslettersm span {
    padding-right: 16px; }

div ul li {
  padding: 0.9vh;
  float: inline-start; }

.sm {
  padding: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .sm__logo {
    max-width: 25px; }

/*PANTALLA COMPLETA*/
main {
  min-height: calc(100vh - 143px - 143px); }

.titulo {
  letter-spacing: 2px;
  word-spacing: 10px;
  color: black;
  margin: 30px;
  /*USO DE OPERACIONES*/ }

.centrado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin: 40px; }

.espaciado {
  margin-bottom: 30px; }

/*DE LA PAGINA INDEX*/
.fondoBanner {
  height: calc( 100vh - 143px);
  /*USO DE OPERACIONES*/
  background-image: url("../img/frontpage.jpg");
  background-position: center;
  background-size: cover;
  padding: 30px;
  margin-bottom: 30px; }

.buyNow {
  padding-left: 5vw; }
  .buyNow img {
    transition: all 2s; }

.buyNow:hover img {
  transform: scale(1.1);
  transform: translateX(-20px); }

/*ESTILOS SECCIONES Y PRODUCTOS*/
/*ESTILOS SECCIONES RAPIDAS*/
.rapidas {
  margin: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 2vw;
  text-align: right; }
  .rapidas__letrero {
    padding-top: 30vh;
    color: white; }
  .rapidas div:hover {
    transition: all 1s;
    font-size: 2.5vw; }

.sec-rap-1 {
  background-image: url("../img/sec-rap-1.jpg");
  background-position: center;
  width: 30vw;
  height: 500px;
  max-width: 430px; }

.sec-rap-2 {
  background-image: url("../img/sec-rap-2.jpg");
  background-position: center;
  width: 30vw;
  height: 500px;
  max-width: 430px; }

.sec-rap-3 {
  background-image: url("../img/sec-rap-3.jpg");
  background-position: center;
  width: 30vw;
  height: 500px;
  max-width: 430px; }

.destacados {
  padding: 0px 5vw;
  text-align: center; }
  .destacados__titulo {
    font-size: 2rem;
    padding: 2rem; }

.tarjetaproducto {
  text-align: center;
  background-color: #f2f2f2;
  display: inline-flex;
  padding: 10px;
  margin: 10px;
  height: min-content;
  border-radius: 5px; }
  .tarjetaproducto__foto {
    max-height: 250px; }
  .tarjetaproducto__nombre {
    font-size: 1rem;
    padding: 1rem 0px; }
  .tarjetaproducto__precio {
    font-size: 1.5rem;
    letter-spacing: 110%;
    padding-bottom: 1rem; }
    .tarjetaproducto__precio--oferta {
      font-style: bold;
      text-decoration: line-through; }

.tarjetaproducto:hover {
  background-color: #d5d5d5; }
  .tarjetaproducto:hover div h4, .tarjetaproducto:hover div h3 {
    background-color: #d5d5d5;
    color: black; }

/*DE LA PAGINA METODOS DE PAGO*/
form table {
  margin: 50px; }

.tablaPagos {
  text-align: justify; }
  .tablaPagos tr td {
    padding: 30px; }
  .tablaPagos tr th {
    padding: 0px 10px;
    background-color: black;
    color: #8b8a89;
    overflow: hidden; }

.metPago {
  display: flex;
  flex-direction: column;
  padding: 0vw 5vw 5vw 5vw;
  align-items: center;
  gap: 50px; }
  .metPago div {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 24px;
    max-width: 70%;
    gap: 50px; }
    .metPago div div img {
      border-radius: 5px; }

/*DE LAS PAGINAS DE REMERAS Y MUSCULOSAS*/
.bannerrem {
  background-image: url("../img/banner-rem.jpg");
  background-size: cover;
  min-height: 10rem;
  margin-bottom: 40px;
  overflow: hidden;
  background-position: center; }
  .bannerrem__titulo {
    letter-spacing: 0.2rem;
    padding: 3rem;
    max-width: 30%; }

.bannerhom {
  background-image: url("../img/banner-hom.jpg");
  background-size: cover;
  min-height: 10rem;
  margin-bottom: 40px;
  overflow: hidden;
  background-position: center; }
  .bannerhom__titulo {
    letter-spacing: 0.2rem;
    padding: 3rem;
    max-width: 30%; }

.bannermusc {
  background-image: url("../img/banner-musc.jpg");
  background-size: cover;
  min-height: 10rem;
  margin-bottom: 40px;
  overflow: hidden;
  background-position: center; }
  .bannermusc__titulo {
    letter-spacing: 0.2rem;
    padding: 3rem;
    max-width: 30%; }

.banneracc {
  background-image: url("../img/banner-acc.jpg");
  background-size: cover;
  min-height: 10rem;
  margin-bottom: 40px;
  overflow: hidden;
  background-position: center; }
  .banneracc__titulo {
    letter-spacing: 0.2rem;
    padding: 3rem;
    max-width: 30%; }

.bannernin {
  background-image: url("../img/banner-nin.jpg");
  background-size: cover;
  min-height: 10rem;
  margin-bottom: 40px;
  overflow: hidden;
  background-position: center; }
  .bannernin__titulo {
    letter-spacing: 0.2rem;
    padding: 3rem;
    max-width: 30%; }

.bannerhom__titulo {
  color: #f2f2f2; }

.banneracc__titulo {
  color: #f2f2f2; }

.catalogohoja {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 15px; }

.catalogoarticulos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 75em;
  gap: 1vw;
  border-left: 1px solid #8b8a89;
  padding-left: 2vw; }

.filtros {
  width: 25em;
  height: max-content;
  padding: 2vw; }
  .filtros div {
    padding: 15px 40px; }

/*DE LA PAGINA ERROR 404*/
.error {
  text-align: center; }
  .error__titulo--primario {
    font-size: 4rem;
    padding: 2vw 2vw 0.5vw 2vw; }
  .error__titulo--secundario {
    padding: 0px 0px 2vw; }
  .error__img {
    width: 50vw; }
  .error__boton {
    background-color: #8b8a89;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; }

/*DE LA PAGINA CONTACTO*/
.contacto {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 40vw;
  justify-content: center; }
  .contacto__img {
    width: 100%;
    border-radius: 5px; }
  .contacto__leyenda {
    width: 100em;
    font-size: 1.2rem;
    text-align: center;
    padding: 15px; }
    .contacto__leyenda p {
      text-align: center;
      width: 100%; }
    .contacto__leyenda a:link {
      text-decoration: underline;
      color: black; }
    .contacto__leyenda a:visited {
      color: #8b8a89; }

.formulario {
  background-color: #f2f2f2;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  max-width: 40vw; }
  .formulario__campos {
    padding: 15px;
    display: flex;
    flex-direction: row; }
    .formulario__campos--izq {
      width: 20em;
      text-align: left; }
    .formulario__campos--cen {
      width: 20em;
      justify-content: center; }
    .formulario__campos--der {
      width: 20em;
      text-align: right; }
    .formulario__campos p {
      display: inline-flex;
      width: 5rem; }
  .formulario__texto {
    padding: 15px;
    text-align: center; }
    .formulario__texto--box {
      width: 90%; }
  .formulario__boton {
    background-color: #d5d5d5;
    color: black;
    padding: 0.2rem; }

/*DE LA PAGINA Quiénes somos*/
/*EJEMPLO DE USO GRID*/
#quienSoy {
  display: grid;
  grid-template-areas: "tit tit tit" "fot1 fot1 text1" "mapa mapa mapa";
  gap: 50px; }

#tit {
  grid-area: tit; }

#fot1 {
  grid-area: fot1;
  border-radius: 5px; }

#text1 {
  grid-area: text1;
  background-color: #f2f2f2;
  border-radius: 5px;
  height: 100%;
  padding: 2vw; }

#mapa {
  grid-area: mapa; }

/*DISEÑO RESPONSIVE*/
@media screen and (max-width: 768px) {
  #quienSoy {
    grid-template-areas: "tit" "fot1" "text1" "mapa"; }
  .rapidas {
    font-size: 3vw; }
    .rapidas div:hover {
      font-size: 3.5vw; }
  iframe {
    width: 90vw;
    height: 50vw; }
  nav {
    max-width: 30vw;
    padding: 1rem; }
  nav ul li {
    display: list-item;
    position: relative; }
  .dataPages {
    max-width: 80%;
    display: flex;
    padding: 10px;
    float: right; }
    .dataPages ul {
      display: inline-flex; }
  .logo {
    padding-left: 5vw; }
  .tarjetaproducto__foto {
    max-height: 200px; } }

@media screen and (max-width: 375px) {
  .rapidas {
    font-size: 3vw; }
    .rapidas div:hover {
      font-size: 3.5vw; }
  .sec-rap-1 {
    max-height: 300px; }
  .sec-rap-2 {
    max-height: 300px; }
  .sec-rap-3 {
    max-height: 300px; }
  .centrado {
    margin: 5px; }
  .buscador {
    float: none;
    padding: 1.5rem; }
  nav {
    max-width: 60vw;
    padding: 0.5rem; }
    nav ul li {
      display: list-item;
      position: relative; }
  ul {
    padding: 0.5rem; }
  .logo {
    padding: 0.5rem; }
  .newslettersm {
    word-spacing: 5vw;
    padding: 10vw; }
  .dataPages {
    max-width: 60%;
    display: flex;
    padding: 0px;
    float: right; }
  .dataPages {
    max-width: 65%;
    display: flex;
    padding: 10px;
    float: right; }
    .dataPages ul {
      display: list-item; }
  .sm {
    padding: 5px;
    margin: 0;
    text-align: center; }
  .catalogohoja {
    display: flex;
    flex-direction: column; }
  .catalogoarticulos {
    border-top: 1px solid #8b8a89;
    border-left: none; } }
