/*ESTILOS PARA EL HEADER*/
header {
    background-color: black;
    color: rgb(139, 138, 137);
    overflow: hidden;
}
.logo {
    float: left;
    background-color: black;
    padding: 20px;
        &__img {
            width: 100px;
        }
}
nav {
    width: 60vw;
    display: inline-flex;
    padding: 3.5rem 1rem 3.5rem 1rem;
    font-size: 25px;
    font-style: normal;
    font-weight: bold;
}
nav ul li {
    padding: 0px 2vw 0px 0px;
    display:inline-block;
    position: relative;
}
ul {
    padding: 0;
    ul {
        position: absolute;
        display: none;
        ul li {
            display: block;
            width: 100%;
            padding: 0px;
        }
    }
    li a:hover {
        color: rgb(199, 199, 199);
        }
    li:hover ul  {
        z-index: 2;
        display: block;
        width: 100%;
        background-color: black;
        padding: 0px;
        }
}    
.buscador {
    float: right;
    padding: 3.5rem 2rem 3.5rem 0px;
    &__ingresetexto {
        background-color: white;
        color: black;
        padding: 0.2rem;
        height: 35px;
        border: 1px solid transparent;
        border-radius: .25rem;
    }
    &__enviar {
        padding: 0.2rem;
        cursor: pointer;
        color: $negro;
        background-color: $grismedio;
        border-color: $grismedio;
        display: inline-block;
        line-height: 1.5;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        user-select: none;
        height: 35px;
        border: 1px solid transparent;
        font-size: 1rem;
        border-radius: .25rem;
    }
    &__enviar:hover {
        background-color: $grisoscuro;

    }

}
.btn-carrito:hover {
    background-color: $grisoscuro;
}
.btn-carrito {
    position: relative!important;
    cursor: pointer;
    color: $negro;
    background-color: $grismedio;
    border-color: $grismedio;
    display: inline-block;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    height: 35px;
    width: 35px;
    font-size: 1rem;
    border-radius: .25rem;
}
.burbuja-carrito{
    border-radius: 50rem!important;
    --bs-bg-opacity: 1;
    background-color: rgb(161, 42, 48)!important;
    transform: translate(-50%,-50%)!important;
    left: 100%!important;
    top: 0!important;
    position: absolute!important;
    display: inline-block;
    padding: .35em .65em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;

}

